* {
    margin: 0;
    padding: 0;
}
body {
    background: black;
    display: flex;
    justify-content: center;
}
.inbox {
    margin: 30px;
    background-color: aqua;
    width: fit-content;
}
.item{
    display: inline-block;
    display: flex;
    padding: 10px;
}
input {
    margin-right: 5px;
}